node_modules
dist
coverage
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.cursor

# Temporary workspaces created by CLI E2E tests
__tmp__/

# npm pack artifacts
*.tgz
package/

.jekyll-cache/
_site/

# docs
docs/_site/
docs/.jekyll-cache/
docs/.sass-cache/
docs/.jekyll-metadata
docs/Gemfile.lock
docs/Gemfile.lock.1
docs/Gemfile.lock.1.1
docs/Gemfile.lock.1.1.1
